 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.glocks{
	width: 700px;
	margin-left: 50px;
	border: 6px double black;
	border-radius: 5px;
	padding: 15px;

		h1{
			border-bottom: 6px double black;
			margin-top: 0px;
		}
		h1:first-child{
			border-top: none;
		}
		p{
			border-bottom: 1px solid lightgray;
			padding-bottom: 25px;
		}

}